.card-regular-body {
 background-color:#EFFBF3; 
 border: 2px solid #b2d4bc ;
 padding: 3vh;
  width: 20vw; 
 border-radius: 2vh; 
}
.label-of-card {
   font-weight: bold; 

}
.title-of-card{
   display: flex; 
   align-items: center; 
   font-size: 0.8em;
   gap: 60%;
}
 .value-of-card-regular {
      font-size: 2rem; 
      font-weight: bold; 
       color: #21C45D
   }
.card-regular-body p {
   color: gray;
   font-size: 0.7em;
}